body{
    background-color: antiquewhite;
    color: black;
}
footer{
    background-color: blueviolet;
    color: cornsilk;
    display: flex;
    justify-content: space-between;

}
header{
    background-color: blueviolet;
    color: cornsilk;
}
button{
    color: antiquewhite;
    background-color: blueviolet;
    border-radius: 5;
    border: 5;
}
.answer{
    display: none;
}